.quick_banner {
    width: 144px;
    height: 444px;
    position: absolute;
    top: 26vh;
    right: 130px;
    background-color: #BBBDF2;
    z-index: 999;
}

.emptyBox {
    display: flex;
    align-items: center;
    margin: 32px 12px;
    width: 80%;
    height: 80%;
    background-color: white;
}

.containerBox {
    border: 1px solid rgba(204, 204, 204, 70);
    margin: 0 auto;
    width: 90%;
    height: 90%;
}

.title {
    text-align: center;
    font-size: 15px;
}

.previewAttachSpot {
    /*width: 100%;*/
    width: 90px;
    height: 100%;
    list-style: none;
    margin: auto;
    /*padding: 15px;*/
    padding: 0;
}

.previewAttachSpot li {
    width: 70px;
    margin: auto;
    padding-top: 5px;
}

.recent-img {
    width: 70px;
    height: 90px;
    margin: auto;
}