@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

body {
    font-family: "Noto Sans KR", sans-serif;
    color: #333333;
}

div {
    display: block;
}

button {
    cursor: pointer;
}

#content {
    min-width: 1050px;
    padding-bottom: 60px;
    position: relative;
}

.section-view {
    width: 1050px;
    height: 700px;
    margin: 0 auto;
    padding-top: 20px;
}

.inner-view .thumb {
    float: left;
    background-color: #eee;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-view .thumb .bg {
    width: 430px;
    height: 552px;
}

.inner-view .goods-name {
    float: right;
    width: 560px;
    padding: 10px 0 29px;
}

.inner-view .goods-name .name {
    display: block;
    padding-right: 60px;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    word-break: break-all;
}

.inner-view .goods-name .simple-content {
    display: block;
    padding: 4px 60px 0 0;
    font-size: 14px;
    color: #999;
    line-height: 20px;
    word-break: break-all;
}

.inner-view .goods-price {
    float: right;
    width: 560px;
    padding: 0 20px 0 0;
}

.inner-view .goods-price .price {
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0;
    word-break: break-all;
}

.inner-view .goods-price .won {
    padding: 0 7px 0 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    vertical-align: 2px;
    letter-spacing: 0;
}

.inner-view .goods-info {
    float: right;
    width: 560px;
    margin-top: 19px;
    padding-bottom: 19px;
    border-top: 1px solid #e2e2e2;
}

.inner-view .goods-info .list-fst {
    padding-bottom: 0;
    border-bottom: 0;
}

.inner-view .goods-info .tit {
    float: left;
    width: 128px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
}

.inner-view .goods-info .desc {
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    word-break: break-all;
}

#cartPut .cart-option {
    background-color: #fff;
}

#cartPut .cart-type2 {
    float: right;
    width: 560px;
    padding-bottom: 40px;
}

#cartPut .cart-type2 .list-goods {
    padding-bottom: 18px;
}

#cartPut .cart-type2 .list-nopackage {
    padding: 0;
}

#cartPut .cart-type2 .list-nopackage li {
    float: none;
    width: 100%;
    padding: 0 0 5px;
    margin: 0;
    border: 0;
}

#cartPut .cart-type2 .list-nopackage .price, #cartPut .cart-type2 .list-nopackage .name, #cartPut .cart-type2 .list-nopackage .btn-position {
    display: none;
}

#cartPut .cart_option .list .btn-position {
    position: relative;
}

#cartPut .cart-option .list .btn-del {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -1px;
    width: 24px;
    height: 24px;
    border: 0;
    background: url(https://res.kurly.com/pc/ico/2010/ico_cartput_del_24x25.svg) no-repeat 50% 50%;
    background-size: 24px 25px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

#cartPut .cart-type2 .list .name {
    padding: 0 63px 0 0;
}

#cartPut .cart-type2 .list-nopackage .tit-item {
    float: left;
    width: 128px;
    font-weight: 400;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    letter-spacing: -.5px;
}

#cartPut .cart-type2 .list-nopackage .option {
    padding-top: 0;
}

#cartPut .cart-option .list .option {
    overflow: hidden;
}

#cartPut .cart-option .list .count {
    overflow: hidden;
    float: left;
    width: 88px;
    height: 30px;
    border: 1px solid #dddfe1;
    border-radius: 3px;
}

#cartPut .cart-option .list .down.on {
    background-image: url(https://res.kurly.com/pc/ico/2010/ico_minus_on.svg);
}

#cartPut .cart-option .list .down {
    background: #fff url(https://res.kurly.com/pc/ico/2010/ico_minus.svg) no-repeat 50% 50%;
    background-size: 30px 30px;
}

#cartPut .cart-option .list .btn {
    overflow: hidden;
    float: left;
    width: 28px;
    height: 28px;
    border: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

#result {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: -1px;
    padding: 4px 0 4px;
    border: 0;
    background-color: #fff;
    font-size: 14px;
    color: #000;
    line-height: 18px;
    text-align: center;
}

#cartPut .cart-option .list .up.on {
    background-image: url(https://res.kurly.com/pc/ico/2010/ico_plus_on.svg);
}

#cartPut .cart-option .list .up {
    float: right;
    margin-left: -1px;
    background: #fff url(https://res.kurly.com/pc/ico/2010/ico_plus.svg) no-repeat 50% 50%;
    background-size: 30px 30px;
}

#cartPut .cart-option .list .btn {
    overflow: hidden;
    float: left;
    width: 28px;
    height: 28px;
    border: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

#cartPut .cart-type2 .list .price {
    float: right;
    padding: 5px 4px 0;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -.6px;
}

#cartPut .cart-option .list .price {
    font-weight: 700;
    text-align: right;
}

#cartPut .cart-type2 .list .dc-price {
    float: right;
}

#cartPut .holiday-delivery {
    display: none;
    overflow: hidden;
    padding: 16px 0 18px;
    border-top: 1px solid #f4f4f4;
    font-size: 14px;
    color: #333;
    line-height: 16px;
}

#cartPut .cart-type2 .total {
    padding: 30px 0 20px;
    border-top: 1px solid #f4f4f4;
}

#cartPut .cart-option .total .price {
    overflow: hidden;
    text-align: right;
}

#cartPut .cart-option .total .tit {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    vertical-align: 2px;
}

#cartPut .cart-option .total .num {
    padding-left: 8px;
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
}

#cartPut .cart-option .total .won {
    padding-left: 2px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    vertical-align: -1px;
}

#cartPut .cart-type2 .total .txt-point {
    padding-top: 13px;
}

#cartPut .cart-option .total .txt-point {
    display: block;
    /*padding-top: 14px;*/
    font-size: 14px;
    color: #666;
    line-height: 20px;
    text-align: right;
}

#cartPut .cart-option .total .ico {
    display: inline-block;
    width: 38px;
    height: 20px;
    margin-right: 2px;
    border-radius: 10px;
    background-color: #ffbf00;
    font-weight: 700;
    font-size: 11px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    vertical-align: 1px;
}

#cartPut .cart-option .total .emph {
    font-weight: 700;
}

#cartPut .cart-footer {
    display: flex;
    width: 100%;
}

#cartPut .cart-footer .functions {
    display: flex;
    align-items: center;
}

#cartPut .cart-footer .button-wrap:not(:first-of-type) {
    margin-left: 130px;
}

#cartPut .base-button {
    width: 432px;
    height: 56px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    background-color: #525AF2;
    border: 1px solid #525AF2;
    cursor: pointer;
}

/* Style the tab */
.tab {
    width: 1050px;
    margin: auto;
    overflow: hidden;
    border: 1px solid #525AF2;
    border-radius: 3px;
    background-color: #fff;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    /*background-color: #ddd;*/
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #525AF2;
    color: #fff;

}

/* Style the tab content */
.tabcontent {
    width: 1050px;
    /*margin: auto;*/
    display: none;
    /*padding: 6px 12px;*/
    border: none;

    padding-top: 40px;
    min-height: 500px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.tablinks {
    width: 524px;
    color: #525AF2;
}

.pic img {
    border: 0;
    max-width: 100%;
}

.context.last {
    margin-bottom: 170px;
}

.goods-intro {
    text-align: center;
}

.goods-intro .context h3 {
    display: block;
    margin: 75px 0 0;
    padding-bottom: 35px;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    border-bottom: 1px solid #c1c1c1;
    color: #666;
}

.goods-intro .context h3 small {
    display: block;
    font-size: 24px;
    margin-bottom: 14px;
    line-height: 15px;
}

.goods-intro .context .words {
    margin-top: 28px;
    text-align: left;
}

.goods-wrap .context .words {
    margin-top: 55px;
    font-size: 18px;
    line-height: 32px;
    color: #373737;
}